<ul class="nav nav-tabs">
  <li><a href="summary">Summary</a></li>
  <li><a href="transactions">Transactions</a></li>
  <li class="active"><a href="categories">Categories</a></li>
  <li><a href="categoryAssociations">Category Associations</a></li>
</ul>
<form method="POST" action="addCategory">
	Name: <input type="text" name="categoryName" />
	Type:
		<select name="categoryType">
			<option value="EXPENSE">Expense</option>
			<option value="REVENUE">Revenue</option>
		</select>
	Ignore: <input type="checkbox" name="ignoreForSummary" value="true">
	<input type="submit" value="Add" />
</form>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Ignore in Summary</th>
		</tr>
	</thead>
	<tbody>
#foreach( $category in $categories )
	<tr>
		<td>$category.name</td>
		<td>$category.type</td>
		<td>$category.ignoreForSummary</td>
	</tr>
#end
	</tbody>
</table>