<ul class="nav nav-tabs">
  <li class="active"><a href="summary">Summary</a></li>
  <li><a href="transactions">Transactions</a></li>
  <li><a href="categories">Categories</a></li>
  <li><a href="categoryAssociations">Category Associations</a></li>
</ul>
Period A:
<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
Period B:
<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
