<ul class="nav nav-tabs">
  <li class="active"><a href="summary">Summary</a></li>
  <li><a href="transactions">Transactions</a></li>
  <li><a href="categories">Categories</a></li>
  <li><a href="categoryAssociations">Category Associations</a></li>
</ul>
<form method="GET" action="summary">
	Period:
		<select name="period" onchange="this.form.submit()">
#foreach( $period in $periods )
#if ( $period.equals($selectedPeriod) )
			<option selected value="$period">$period</option>
#else
			<option value="$period">$period</option>
#end
#end
		</select>
</form>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Category</th>
			<th>Month Amount</th>
			<th>Year Average</th>
		</tr>
	</thead>
	<tbody>
#set( $first = true )
#foreach( $revenue in $summary.getRevenue() )
	<tr>
#if ($first)
		<th rowspan="$summary.getRevenue().size()">Revenue</td>
#set( $first = false)
#end
		<td>$revenue.getCategoryName()</td>
		<td><a href="transactions?period=$selectedPeriod&category=$revenue.getCategoryName()">$velocityFormatter.formatCurrency($revenue.getAmount($monthEnum))</a></td>
		<td>$velocityFormatter.formatCurrency($revenue.getAmount($yearAverageEnum))</td>
	</tr>
#end
	<tr>
		<th colspan="2">Revenue Total</td>
		<td><b>$velocityFormatter.formatCurrency($summary.getRevenueTotal($monthEnum))</b></td>
		<td><b>$velocityFormatter.formatCurrency($summary.getRevenueTotal($yearAverageEnum))</b></td>
	</tr>
#set( $first = true )
#foreach( $expense in $summary.getExpenses() )
	<tr>
#if ($first)
		<th rowspan="$summary.getExpenses().size()">Expenses</td>
#set( $first = false)
#end
		<td>$expense.getCategoryName()</td>
		<td><a href="transactions?period=$selectedPeriod&category=$expense.getCategoryName()">$velocityFormatter.formatCurrency($expense.getAmount($monthEnum))</a></td>
		<td>$velocityFormatter.formatCurrency($expense.getAmount($yearAverageEnum))</td>
	</tr>
#end
	<tr>
		<th colspan="2">Expenses Total</td>
		<td><b>$velocityFormatter.formatCurrency($summary.getExpensesTotal($monthEnum))</b></td>
		<td><b>$velocityFormatter.formatCurrency($summary.getExpensesTotal($yearAverageEnum))</b></td>
	</tr>
	<tr>
		<th colspan="2">Savings (Losses)</td>
		<td><b>$velocityFormatter.formatCurrency($summary.getSavingsTotal($monthEnum))</b></td>
		<td><b>$velocityFormatter.formatCurrency($summary.getSavingsTotal($yearAverageEnum))</b></td>
	</tr>
	</tbody>
</table>