<ul class="nav nav-tabs">
  <li><a href="summary">Summary</a></li>
  <li class="active"><a href="transactions">Transactions</a></li>
  <li><a href="categories">Categories</a></li>
  <li><a href="vendors">Vendors</a></li>
</ul>
<form method="POST" action="transactionsUpload" enctype="multipart/form-data">
	Please select a file to upload : <input type="file" name="file" />
	<input type="submit" value="Upload" />
</form>